/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_self
*= require_tree .
*= require rails_bootstrap_forms
 */

@import "bootstrap";

div {
    .header-wrapper{
        width: 720px;
        height: 180px;
        margin: 0 auto;
        text-align: center;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: image-url("header_gasorin.jpg");
        opacity: 0.5;
        // background-image: url("/app/assets/images/header_gasorin.jpg");
    }

    .form-wrapper {
        margin: 0 auto;
        width: 60%;
    }

    .vehicle-wrapper {
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }

    .userinfo-wrapper {
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }

    .result-wrapper {
        text-align: center;
        margin: 0 auto;
        width: 60%;
        margin-top: 70px;
    }

    .btn-wrapper {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
    }
    .btn-wrapper2 {
        width: 60%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .column {
        float: left;
        width: 50%;
        margin: 0 auto;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
}

